* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: rgb(3, 43, 95);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 3rem;
    
}

.choice{
    width:340px;   
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.choice:hover {   
    cursor: pointer;  
    opacity:0.7;
}

#img1{
    width:340px;
    height: 340px;     

}
#img2{
    width:320px;
    height: 340px;    
   
}
#img3{
    width:320px;
    height: 320px;  
     
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 4rem;
}

#msg {
    background-color: rgb(3, 43, 95);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 8px;
    ;
}